<section>			
	<div
		class			=	"ballot-box {{selected ? 'selected' : ''}}"
		single-select	=	"true"		
	>
		<h3>{{ballot_box.subject}} ({{ballot_box.id}})</h3>

		<div
			class		=	"ballot-paper {{selected ? 'selected' : ''}}" 
			ng-repeat	=	"paper in ballot_box.papers"
			select-as	=	"{{paper.id}}"						
		>
			<div class="participant">				
				<input 
					ng-model 		= "paper.participant"
				/>
				<span> {{paper.participant}} </span>				
			</div>
			<div class = "controls">
				<button ng-click = "select()"> 	select	</button>
				<button ng-click = "deselect()"> 	deselect	</button>
				<button ng-click = "removeBallotPaper(paper.id)"> 	del		</button>
			</div>

			<preference-ranking >
				<preference-rank ng-repeat	= "rank in paper.ranking">
					<preference-option ng-repeat = "option in rank"> {{option}} </preference-option>
				</preference-rank>
			</preference-ranking>

		</div>	

	</div>

	<button ng-click = "addBallotPaper()"> Add Ballot </button>

	<a href="#/evaluate/{{box_id}}"> Auswertung </a>

</section>	