<div
	class			=	"ballot-box {{selected ? 'selected' : ''}}"
	single-select	=	"true"		
>
	<h3>{{ballot_box.subject}} ({{ballot_box.id}})</h3>

	<div
		class		=	"ballot-paper {{selected ? 'selected' : ''}}" 
		ng-repeat	=	"paper in ballot_box.papers"
		select-as	=	"{{paper.id}}"						
	>
		<div class="participant">				
			<input 
				ng-model 		= "paper.participant"
			/>
			<span> {{paper.participant}} </span>				
		</div>
		<div class = "controls">
			<button ng-click = "select()">		select		</button>
			<button ng-click = "deselect()"> 	deselect	</button>
			<button ng-click = "removeBallotPaper(paper.id)"> 	del		</button>
		</div>

		<preference-ranking
			ng-model			=	"paper.ranking"
			ranking-orientation	=	"horizontal"
			ng-class			=	"{compact : !selected}"
		>
			<preference-rank ng-repeat = "rank in rankingData">	

				<preference-option 
					ng-repeat	=	"option_id in rank"
					value		=	"{{option_id}}"
				>
					<div class="ui-info">
						<div class="title"> 	{{ballot_box.options[option_id].title}} 	</div>
						<div class="details">	{{ballot_box.options[option_id].details}}	</div>
					</div>
					<div class="ui-panel">
						{{option_id}}
					</div>
				</preference-option>	

			</preference-rank>
		</preference-ranking>

	</div>	

</div>

<button ng-click = "addBallotPaper()"> Add Ballot </button>

<a href="#/evaluate/{{box_id}}"> Auswertung </a>

