<button ng-click = "postBox()">
 DIFF
</button>

<div
	class			=	"ballot-box"
	single-select	=	"{'ballot-paper': ballot.papers[0], 'ballot-option': undefined, 'mode' : 'prefr'}"		
>
    {{help.open = walkthrough.gotoFn('new_ballot', 1)}}

    <table id = "main"> 
        <tr single-select   = "{'edit-menu' : 'ranking'}">

        	<!-- selected ballot paper to edit start -->

            <!--
            <td class="edit-options">
                <nav class="vertical">

                    <a
                        ng-click        = "select('edit-menu', 'source')"
                        class           = "{{selectionEditMenu.value == 'source' ? 'current' : ''}}"
                    >
                        JSON-source
                    </a>

                    <a
                        ng-click        = "select('edit-menu', 'ranking')"
                        class           = "{{selectionEditMenu.value == 'ranking' ? 'current' : ''}} "
                    >
                        Ranking UI
                    </a>        

                    <i
                        class       = "fa fa-lock  fa-rotate-90 fa-lg ui-clickable"
                        ng-show     = "selectionBallotPaper.value.locked"
                        ng-click    = "selectionBallotPaper.value.locked = false"
                    ></i>   
                    <i
                        class       =  "fa fa-unlock-alt  fa-rotate-90 fa-lg ui-clickable"
                        ng-hide     = "selectionBallotPaper.value.locked"                        
                        ng-click    = "selectionBallotPaper.value.locked = true"
                    ></i>                
                </nav>
            </td>
            -->

            <td id="left-column" class="ballot-overview">
                

                <div class = "left right ui-white">

                    <label ng-if = "isAdmin" class = "subject">
                        <span> Subject: </span>
                        <input type="text" ng-model = "ballot.subject" placeholder = "Enter subject">
                        <div class = "icons right">
                            <i class = "fa fa-pencil"></i>
                        </div>

                        <walkthrough
                            direction   = "left" 
                            path        = "new_ballot"
                            step        = "1"
                            next        = "2" 
                        >
                            Enter a subject matter to be decided on. (e.g. "What should we to on the weekend?")
                        </walkthrough>
                    </label>

                    

                    <label ng-if = "isAdmin" class = "ui-white">
                        <span> Details: </span>
                        <div class = "icons right">
                            <i class = "fa fa-pencil"></i>
                        </div>
                         <br/>
                         <div class="wrapper">
                            <textarea placeholder = "Enter details" extendable ng-model = "ballot.details" placeholder = "Enter details"></textarea>
                        </div>
                        
                        <walkthrough 
                            direction   = "left" 
                            path        = "new_ballot"
                            step        = "2"
                            next        = "3"
                        >
                            Anything else you would like to add? Maybe the subject line was too short.
                        </walkthrough>

                    </label>                    

                    
                    <h2 ng-if="!isAdmin">                        
                        {{ballot.subject || '(no subject)'}} ({{ballot.id}})
                    </h2>


                    <p ng-if = "!isAdmin">
                        {{ballot.details}}
                    </p>

                    <p>
                        <small>
                           Instructions go here.
                         </small>
                    </p>
                    
                    <label>
                        Add new option
                        <div class = "icons right">
                            <button ng-click="select('ballot-option', ballot.newOption())">
                                <i class = "fa fa-plus"></i>
                            </button>
                        </div>

                        <walkthrough
                            direction   = "left" 
                            path        = "new_ballot"
                            step        = "4"
                            next        = "A"
                            next-path   = "new-participant"
                        >
                            Add another option to your ballot paper.
                            <br/>
                            You can remove it later – if you like – with the x button on the top right.
                            <br/>
                        </walkthrough>

                    </label>                    
                </div>




                <hr/>


                <!-- list of all ballot options start -->

                <div class = "options-overview left right" ng-click = "select('ballot-option', null)">                   

                    <div 
                        class       = "option"
                        ng-repeat   = "option in ballot.options | filter: {removed : '!'} | orderBy:'tag'" 
                        ng-click        = "select('ballot-option', option); $event.stopPropagation()" 
                        ng-class        = "{'selected' : selectionBallotOption.value == option, 'result':  paper.id == -1}"
                    >                       
                        <label>                            
                            <span class="tag">
                                {{option.tag}}
                            </span>

                            <input 
                                name        = "title" 
                                type        = "text"
                                ng-disabled = "!isAdmin" 
                                placeholder = "Enter title" 
                                ng-model    = "option.title"
                                max-size    
                            >
                            <!--
                                <div class="connector right"></div>
                            -->
                            <div class = "icons right">
                                <i class = "fa fa-times" ng-click = "ballot.removeOption(option)"></i>
                            </div>

                            <walkthrough
                                ng-if       = "$first"
                                direction   = "left" 
                                path        = "new_ballot"
                                step        = "3"
                                next        = "4"
                            >
                                Enter a title for your first option.                                
                                <br/>
                                You can enter futher details for this option below.
                                <br/>
                            </walkthrough>
                           

                        </label>
                        <div 
                            class   = "details ui-white"
                        >
                            <textarea extendable placeholder ="no further description" ng-model = "option.details" placeholder = "Enter details"></textarea>
                        </div>
                    </div>
                </div>

                <!-- list of all ballot options end -->


                <!-- list of removed ballot options start -->

                <div 
                    class   = "options-overview  removed left right" ng-click = "select('ballot-option', null)"
                    ng-if   = "(ballot.options  | filter: {removed : true}).length > 0"
                >
                    <h3> Removed options </h3>
                    <br/>

                    <div 
                        class       = "option"
                        ng-repeat   = "removed_option in ballot.options  | filter: {removed : true} | orderBy:'tag'" 
                    >                       
                        <label>                            
                            <span class="tag">
                                {{removed_option.tag}}
                            </span>

                            <span>
                                {{removed_option.title}}
                            </span>

                            <div class = "icons right">
                                <button ng-click = "ballot.restoreOption(removed_option); select('ballot-option', removed_option)">
                                    <i class = "fa fa-arrow-circle-up"></i>
                                </button>

                                <button ng-click = "deleteOption(removed_option)">
                                    <i class = "fa fa-trash-o"></i>
                                </button>
                            </div>                          

                        </label>

                        <div class = "details">
                            <textarea extendable disabled placeholder ="no further description">{{removed_option.description}}</textarea>
                        </div>
                    </div>
                </div>
                
                <!--
                    <hr class="up"/>                
                -->
            </td>

        	<td class = "edit-paper ui-deep-shadow" >

                <div
                    ng-repeat = "paper in ballot.papers"
                    ng-if     = "selectionBallotPaper.value == paper"
                    class     = "paper"
                >

            		<preference-ranking
            			ranking-orientation =   "vertical"
                        ranking-model       =   "paper.ranking"
                        no-dragging         =   "paper.locked"                     
            		>	
                        <h2 class = "ui-borders ui-corners-all">{{paper.participant || 'no name'}}</h2>


                        <preference-rank
                            ng-repeat   =   "rank in ranking"
                            class       =   "ui-panel left vertical ui-borders ui-corners-all"
                        >
            				<div class = "tag">
            					<!-- CSS will put the counter here-->
            				</div>

            				<preference-option 
            					class		=	"ui-panel right ui-corners-left"
                                ng-class    =   "{'selected': selectionBallotOption.value == ballot.getOptionByTag(tag)}"
            					ng-repeat	=	"tag in rank"
            					value		=	"{{tag}}"
                                ng-click    =   "select('ballot-option', ballot.getOptionByTag(tag))"
            				>
            					<div class="content">						
            						<div class="title"> 	{{ballot.getOptionByTag(tag).title}} 	</div>						
            					</div>
            					<div class = "tag">
            						{{ballot.getOptionByTag(tag).tag}}
            					</div>
            				</preference-option>	
            			</preference-rank>
            		</preference-ranking>
                </div>


                <div
                    ng-show     = "selectionEditMenu.value == 'source'" 
                    class       = "ui-panel ui-borders ui-corners-all"
                >
                    <summary class="">
                        <h3>{{selectionBallotPaper.value.participant}}</h3>
                        <nav>
                            <a
                                ng-click = "select('mode', 'preftools')"
                            >pref-tools syntax</a>
                            <a
                                ng-click = "select('mode', 'prefr')"
                            >prefr syntax</a>                            
                        </nav>
                    </summary>                    
                    <ranking-source
                        ranking-data    = "selectionBallotPaper.value.ranking"
                        mode            = "selectionMode.value"
                    >
                    </ranking-source>
                </div>
        	</td>

        	<!-- selected ballot paper to end -->





        	

            <td
                id              = "right-column"
                class           = ""
                single-select   = "{'overview-menu': 'papers'}"   
            >

                <div class="ui-white left right">
                    <h2>Participants</h2>
                    <p>
                        Enter your name below and arranged the options in the middle column according to your preference.
                    </p>
                    <p>
                        <small>
                            You can change preference ranking or name of yours or others' later on if you like. In order to edit a name click the lock to unlock the input field.
                        </small>
                    </p>
                    <label ng-click = "select('ballot-paper', ballot.newPaper())">
                        Add new particpant
                        <div class = "icons right">
                            <i class = "fa fa-plus"></i>
                        </div>
                    </label>
                </div>
                <hr/>

                <div class="participants-overview left">
                    <label
                        ng-class        = "{'selected' : selectionBallotPaper.value == paper, 'result':  paper.id == -1, 'locked' : paper.locked}"
                        ng-repeat       = "paper in (ballot.papers | orderBy:'-id':true)"    
                        ng-if           = "!paper.removed"
                        ng-click        = "select('ballot-paper', paper)"                
                    >
                        <div class="connector left"></div>

                        <span 
                            class   = "name"
                            ng-show = "paper.locked"
                        >
                            {{paper.participant || 'no name'}}
                        </span>

                        <input
                            type        = "text"                                 
                            ng-model    = "paper.participant"
                            placeholder = "Enter name"
                            ng-show     = "!paper.locked"
                        />

                        <div class = "icons right shift">

                            <button 
                                class       = "inverted" 
                                ng-if       = "!!paper.diff()"
                                ng-click    = "savePaper(paper)" 
                            >
                                save
                            </button>
                          
                            <button 
                                ng-click        = "paper.locked = false"
                                ng-show         = "paper.locked"
                            >
                                <i class = "fa fa-lock"></i>
                            </button>


                            <button                                    
                                ng-hide         = "paper.locked"
                                ng-click        = "paper.locked = true"
                            >
                                <i class = "fa fa-unlock-alt"></i>
                            </button>

                            <button
                                ng-disabled     = "paper.locked"   
                                ng-click        = "removePaper(paper)"
                            >
                                <i class = "fa fa-times"></i>
                            </button>

                        </div> 
                    </label>
                </div>

                <div
                    class   = "participants-overview  removed left"
                    ng-if   = "(ballot.papers | filter: {removed : true}).length > 0"
                >
                    <h3> Removed Participants</h3>
                    <br/>
                    <br/>

                    <label
                        ng-class        = "{'selected' : selectionBallotPaper.value == paper, 'result':  paper.id == -1}"
                        ng-repeat       = "removed_paper in ballot.papers | orderBy:'-id':true"    
                        ng-if           = "removed_paper.removed"
                    >
                        <div class="connector left"></div>

                        <span class   = "name">
                            {{removed_paper.participant || 'no name'}}
                        </span>

                        <div class = "icons right shift">
                            <button disabled>
                                <i class = "fa fa-lock"></i>
                            </button>

                            <button ng-click = "restorePaper(removed_paper); select('ballot-paper', removed_paper)">
                                <i class = "fa fa-arrow-circle-up"></i>
                            </button>
                        </div> 
                    </label>
                </div>
            </td>
        	

        </tr>
    </table>
</div>