

<ul class = "options dotted left">
    <li
        ng-repeat       = "option in options"    
        ng-class        = "{'selected' : selectionBallotOption.value == option, 'result':  paper.id == -1}"
        ng-click        = "select('ballot-option', option)"          
    >
        <div class="connector left"></div>
        
        <span class="tag">
            {{getTag($index)}}
        </span>

        <input 
            name        = "title" 
            type        = "text"
            ng-disable  = "!isAdmin" 
            placeholder = "Enter title" 
            value       = "{{option.title}}"
        >

        <div class="connector right"></div>
    </li>


    <!--
    <li>                                            
        <div class="two-bar short inline small clickable" ng-click = "addOption()" ng-disable="!isAdmin">
            <div><i class="fa fa-plus" ></i></div>
            <div>Add new option</div>
        </div>
    </li>                  

    <li
        ng-repeat   = "option in options"
        class       = "option"
    >

        <div class="two-bar short">
                <div>
                    {{getTag($index)}}
                </div>
                <div>
                    <input name = "title" type="text" maxlength="50" ng-disable="!isAdmin" placeholder ="title" value = "{{option.title}}">
                </div>
        </div>

        <div class="two-bar white short multiline">
                <div class="controls">
                    <button ng-click="optionUp($index)">
                        <i class="fa fa-angle-up"></i>    
                    </button>
                    <button ng-click="removeOption($index)">                        
                        <i class="fa fa-times"></i>                            
                    </button>
                    <button ng-click="optionDown($index)">
                        <i class="fa fa-angle-down"></i>
                    </button>  
                </div>
                <div>
                    <textarea class="details" placeholder="details" ng-disable="!isAdmin" extendable>{{option.details}}</textarea>      
                </div>
        </div> 
    </li>  
    
    <li>                                            
        <div class="two-bar short inline small clickable" ng-click = "addOption()" ng-disable="!isAdmin">
            <div><i class="fa fa-plus" ></i></div>
            <div>Add new option</div>
        </div>
    </li>              
    -->    
</ul>