<section 
	class = "ui-panel top large horizontal ui-borders thick ui-corners-all ui-inline"
	style = "margin:3em"
>
		
	<section class ="ui-panel top ">			
			<div class = "tag"><a href="#/new_group_decision"> <h2>new ballot</h2></a></div>

			<div class = "content ui-extensive-width ui-extensive-height">
				<div class="ui-content justify">
					<p>
						Put forward a question to be decided by a group and provide potential answers to be ranked. 
						Invite friends or colleagues to participate by ranking your options and have this app calculate the group's collective preference ranking by a method of your choice (only <a href="http://en.wikipedia.org/wiki/Schulze_method">schulze method</a> available at the moment).
					</p>

					<br/>
					<br/>

					<p class="center">
						<em>What should we do this weekend?</em>
					</p>

					<ul>
						<li>Have a LAN party.</li>
						<li>Play some board games.</li>
						<li>Go see a movie.</li>
						<li>Keep coding.</li>
					</ul>	

					<br/>

					<p class = "center">
						<a href="#/new_group_decision">create new ballot now</a>
					</p>
				</div>
			</div>
	</section>

<!--
	<section class ="ui-panel ">			
			<summary><a href="#">personal decision</a></summary>

			<details class = "ui-extensive-width ui-extensive-height">
				<div class="ui-content justify">
					<p>
						Make a decision on your own. This app will help you deliberate. Provide the options you are dealing with and the aspects you would like to judge them by. After a few more steps have the app calculate a preference ranking using a method of your choice (only <a href="http://en.wikipedia.org/wiki/Schulze_method">schulze method</a> available at the moment).
					</p>

					<br/>

					<p class="center">
						<em>For whom should I work? </em>
					</p>

					<ul>
						<li>That Bank</li>
						<li>That NGO</li>
						<li>That government department</li>
					</ul>

					<br/>

					<p class="center">
						<em>What's important to me?</em>
					</p>
					<ol>
						<li>Money</li>
						<li>Cool Coworkers</li>
						<li>Karma</li>
					</ol>
				</div>
			</details>
	</section>	
-->
</section>

