/* COLORS:

	blue:			rgba(100,125,140,1) / #647D8C;
	light-blue:		#A7C7DC;
	light-gray:		#ccc;
	white:			rgba(245, 245, 240, 1);
	dark-gray:		#444;
	shadow:			0 0 0.2rem rgba(0,0,0, 0.5);
	floating:		0 0 0.5rem rgba(0,0,0,0.6);
	text-shadow:	0 -0.05rem rgba(0, 0, 0, 0.7), 0 0.05rem rgba(255, 255, 255, 0.7);	
*/


html {
	font-size:				0.9em;
}

body {
	position:				relative;
	font-family: 			Liberation Sans, Ubuntu, DejaVu Sans,sans-serif;
	padding:				3.5em 0em 0em 0em;
	margin:					0;
	background-color:		rgba(245, 245, 240, 1);	
}

input,
textarea {
	font-family: 			Liberation Sans, Ubuntu, DejaVu Sans,sans-serif;
	border:					none;
	padding:				0;
	margin:					0;
}






/* main header */

body > header {
	position:				absolute;

	top:					0;
	height:					3.5em;
	width:					100%;
	text-align:				center;
	line-height:			3.5rem;	

	background-color:		rgba(245, 245, 240, 1);
	box-shadow:				0 0 0.2rem rgba(0,0,0, 0.5);

	z-index:				10;
}

body > header * {
	display:				inline-block;
	vertical-align: 		top;
	height:					3.5rem;
}

nav {	
	display:				inline-block;
	line-height:			3.5rem;
	white-space: 			nowrap;
}

nav a {
	position:				relative;
	display:				inline-block;
	text-decoration: 		none;
	color:					#666;
	padding:				0;
	margin:					0 1em;
	cursor:					pointer;
}

nav a:after {
	content:				'';
	position:				absolute;


	height:					0em;
	bottom:					0;
	left:					-0.5em;
	right:					-0.5em;

	box-shadow:				0 -0.05rem 0.01em #000000;
	background-color: 		#666;
	outline: 				0;
	transition:				height 100ms ease-out;
}

nav a:hover:after,
nav a:active:after,
nav a.current:after {
	height:					0.5em;
}

nav a:active:after,
nav a.current:after {
	background-color:		rgba(100,125,140,1);
}


body > header h1 {
	display:				inline-block;
	float:					left;

	margin:					0 2em;
	font-size:				2.5em;
	line-height:			3.2rem;
	font-weight:			bold;

	color:					rgba(100,125,140,1);
	text-shadow:			0 -0.05rem 0.01rem rgba(0, 0, 0, 0.7), 0 0.05rem 0.01rem rgba(255, 255, 255, 0.7);
}


nav.vertical {
	position:				absolute;
	display:				inline-block;

	top:					0;
	right:					100%;	
	z-index:				5;	
	padding-right:			2em;

	white-space:			nowrap;

	transform:				rotate(-90deg);
	-ms-transform:			rotate(-90deg); /* IE 9 */
	-webkit-transform:		rotate(-90deg); /* Safari and Chrome */

	transform-origin:			100% 0;
	-ms-transform-origin:		100% 0;
	-webkit-transform-origin:	100% 0;
}


/* main content */


body > article {
	display:				block;
	width:					100%;
	min-height:				10em;	

	color:					#666;


	padding:				0;
	text-align:				center;
	overflow-x:				auto;

	

}

body > article:after {
	content:				'';
	display:				block;
	clear:					both;
}

body > footer {	
	position:				relative;
	height: 				20em;	
	
	background-color:		rgba(245, 245, 240, 1);
	box-shadow:				0 0 0.2em rgba(0, 0, 0, 0.5);
	z-index:				10;	
}



/* gerneral */

a {
	color:					inherit;
	text-decoration: 		none;
}

ul,
ol {
	margin:					0;
}

h1, h2, h3, h4, h5, h6 {
	margin-top:				0;
	margin-bottom:			0;
	font-weight:			normal;
}

h2{
	font-size:				1.5em;
	margin: 				1em 0;
}

h3{
	display:				inline;
	font-size:				1.4em;		
}

table {
	border-spacing:			0;
	border-collpase:		collapse;	
}

td {
	padding:				0;
}

input::-moz-focus-inner, /*Remove button padding in FF*/
button::-moz-focus-inner
{ 
    border: 0;
    padding: 0;
}

button {
	display:				inline-block;


	font-size:				1em;
	height:					1.6em;
	line-height:			1.6em;
	padding:				0 0.5em;

	border:					none;
	width:					auto;
	box-shadow:				none;
	border-radius:			none;
	cursor:					pointer;

}



hr {
	display:				block;
	position:				absolute;

	margin: 				0;
	padding:				0;
	height:					0.2em;
	width:					100%;

	border:					none;
	box-shadow:				0 0.2em 0.2rem -0.2em rgba(0, 0, 0, 0.5) inset;
}

li {
	list-style: none;
}


.ui-content {
	padding:				1em;
}

.ui-content p {
	margin:					0 0 0.5em 0;
}

.ui-content.left,
.ui-content .left {
	text-align: 			left;
}

.ui-content.right,
.ui-content .right {
	text-align: 			right;
}
.ui-content.center,
.ui-content .center {
	text-align: 			center;
}

.ui-content.justify,
.ui-content .justify {
	text-align:				justify;
}


.ui-medium-width {
	width:					6.5em;
}

.ui-medium-height{
	height:					2em;
}

.ui-extensive-width {
	width: 					21em;
}

.ui-extensive-height {
	height: 				25em;
}

.ui-clickable {
	cursor:					pointer;
}

.ui-white {
	background: #fff;
}




.ui-corners-all {
	border-radius: 			0.5em;
	overflow:				hidden;
}

.ui-corners-left {
	border-radius:			0.5em 0 0 0.5em;
	overflow:				hidden;
}

.ui-corners-right {
	border-radius: 			0 0.5em 0.5em 0;
	overflow:				hidden;
}

.ui-corners-top {
	border-radius:			 0.5em 0.5em 0 0;
	overflow:				hidden;
}

.ui-corners-bottom {
	border-radius: 			0 0 0.5em 0.5em;
	overflow:				hidden;
}

.ui-borders {
	border-width: 			0.2em;
	border-style:			solid;	
	border-color:			rgba(245, 245, 240, 1);
	box-shadow: 			0 0 0.2rem rgba(0,0,0, 0.4);
	overflow:				visible;
}

.ui-borders.thick {
	border-width:			0.5em;
}

.ui-inline {
	display:				inline-block;
}

.ui-shadow {
	box-shadow:				0 0 0.2rem rgba(0,0,0, 0.5);
}

.ui-deep-shadow {	
	box-shadow:				0 0 1em rgba(0, 0, 0, 0.6) inset;
}

.ui-box {
	display:				inline-block;

	width:					1.6em;
	padding:				0;
	margin:					0;
	line-height: 			1.6em;
	
	text-align:				center;
	vertical-align:			baseline;
}





.two-bar {
	position:				relative;
	display: 				block;

	font-size:				1.4em;    
    line-height: 			3em;
    margin: 				0;
    padding:				0;
    position: 				relative;
    text-align: 			left;    
    vertical-align: 		middle;
    white-space: 			nowrap;
    overflow:				hidden;    
    background-color:		#AAAAAA;    
}

.two-bar.inline{
	display:				inline-block;
	padding-right: 			1em;
}

.two-bar.small{
	font-size:				1em;
}

.two-bar.white{
	background-color: 		#fff;
}

.two-bar > * {
	display:				inline-block;
	white-space: 			nowrap;
    height:					3em;
	line-height:			3em;
}

.two-bar.multiline > * {
	height:					auto;
}

.two-bar.multiline > * > *{
	white-space:			normal;
	height:					auto;
	line-height:			1.4em;
	font-size:				0.8em;
	vertical-align:			top;	
}


.two-bar * {
	vertical-align:			baseline;
}

.two-bar > *:first-child{	
	position:				absolute;
	width:					12em;	
	top:					0;
	bottom:					0;
	left:					0;
	padding:				0 1em;
	text-align:				left;
	background:				#647D8C;
	color:					#fff;
}

.two-bar.white > *:first-child{
	background-color:		#fff;
}

.two-bar.short > *:first-child{
	width:					3em;
	text-align:				center;
	padding:				0;
}

.two-bar > *:last-child{
	background:				transparent;
	color:					#fff;		
	display:				block;	
	margin-left:			15em;
}

.two-bar.white > *:last-child{
	color:					inherit;
}

.two-bar.short > *:last-child{
	margin-left:			4em;
}

.two-bar input,
.two-bar textarea {
	font-size:				inherit;
	background-color:		inherit;
	padding:				0;
	margin:					0;
	border:					0;
	color:					inherit;
	width:					100%;	
}




textarea[extendable] {
	resize:					none;
}




/* options */

.option {
	margin:					1em 0;
	transition:				all 500ms ease-out;
}

.option .controls {
	display:				block;
}

.option .controls button{
	display:				block;
	text-align:				center;
	background: 			transparent;
	padding:				0;
	width:					100%;
	line-height:			1em;
	font-size:				1.2em;
}

.option .details {
	min-height:				5em;
	margin:					1em 0;
}

.ballot-options .option.ng-move-active{
	font-size:				0em;
}


/* panels */




.ui-panel {
	position:				relative;
	color:					rgba(245, 245, 240, 1);
	background-color:		#444;	/* rgba(245, 245, 240, 1);*/
	border-color:			rgba(245, 245, 240, 1);

	vertical-align: 		middle;
}

.ui-panel.left {
	padding-left:			3.2em;
}

.ui-panel.left.large {
	padding-left:			16em;
}

.ui-panel.right {
	padding-right:			3.2em;
}

.ui-panel.right.large {
	padding-right:			16em;
}


	.ui-panel > .ui-panel {
		margin:					0.5em;
	}

	.ui-panel.horizontal > .ui-panel {
		display:				inline-block;
	}

	.ui-panel.horizontal > .ui-panel + .ui-panel {
		margin-left:			0;
	}

	.ui-panel.vertical > .ui-panel {
		display:				block;
	}


	.ui-panel summary {
		display:				block;
		text-align: 			center;
		color:					#666;
		background-color:		rgba(245, 245, 240, 1);
	}

	.ui-panel h1,
	.ui-panel h2,
	.ui-panel h3,
	.ui-panel h4,
	.ui-panel h5,
	.ui-panel h6 {
		font-size:				1.6em;
	}

	.ui-panel h3,
	.ui-panel h4,
	.ui-panel h5,
	.ui-panel h6 {
		display:				inline-block;
		vertical-align:			middle;
	}

	.ui-panel.left > summary,
	.ui-panel.right > summary {
		position:				absolute;
		top:					0;
		bottom: 				0;
		width:					2em;
	}

	.ui-panel.left.large > summary,
	.ui-panel.right.large > summary {
		width:					10em;
	}

	.ui-panel.left > summary {
		left:					0;
	}


	.ui-panel.right > summary {
		right:					0;
	}



	/* link in summary */

		/*
		.ui-panel summary a {
			display:				block;
			position:				relative;
			padding: 				0.5em;
		}
		*/

	/* details */

	.ui-panel details {
		display:				block;
		background-color:		rgba(100,125,140,1);
		/*background-image:		linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);*/
		color:					rgba(255,255,255,0.95);
	}

	.ui-panel.vertical > .ui-panel > details {
		height:					100%;
	}









/* Ballot Box */

.ballot-box {
	display:				block;
	position: 				relative;
	margin: 				auto;
	padding:				0em;
	height:					100%;
}

.ballot-box .ballot-overview {

   	min-height:				100%;
    min-width:				100%;
	text-align:				left;

	padding-bottom:			10em;

	color:					#666666;
    background-color:       #fff;

    vertical-align:			top;    
 
}

.ballot-box .edit-options{
	background: 			#fff;
	min-width:				3.5em;	
}

.ballot-box .ballot-papers,
.ballot-box .ballot-options {
	display:				block;

	vertical-align:			top;

	background-color:		rgba(245, 245, 240, 1);
	background-image:		url('images/dots.png');
	background-size:		0.1em;
	padding:				1.9em 0;
}

.ballot-box .ballot-paper {
	display:				block;
	position: 				relative;

	margin:					0.5em 0em;
	line-height:			4.2em;

	background-color:		#aaa;

	text-align: 			left;
	white-space: 			nowrap;
	vertical-align: 		middle;

	cursor:					pointer;	
	transition:				margin 200ms;
}

.ballot-box .ballot-paper:hover {
}

/*

.ballot-box .ballot-paper .participant {
	display:				inline-block;
	position:				relative;

	margin:					0;
	padding	:				0;
	padding-right:			2em;
	font-size:				1.4em;
	padding-left:			1em;

	background-color:		#647D8C;
	color:					rgba(255,255,255,0.9);
	border:					none;
	text-align: 			left;
	white-space: 			nowrap;
	vertical-align: 		top;
}

.ballot-box .ballot-paper .participant.result{
	background-color:		rgba(80, 170, 60, 1);
}

.ballot-box .ballot-paper .participant > * {
	vertical-align:			middle;
}

*/

.ballot-box .ballot-paper .participant span.name,
.ballot-box .ballot-paper .participant input {
	display:				inline-block;

	width:					8em;
	padding:				0;
	margin:					0;

	background:				transparent;
	color:					inherit;

	border:					none;
	font-size:				inherit;	
	font-weight:			inherit;

	overflow:				hidden;
	text-overflow:			ellipsis;

}


.ballot-box .ballot-paper .participant:before,
.ballot-box .ballot-paper .participant:after {
	content:				'';

	display:				block;
	position:				absolute;

	top:					50%;
	margin-top:				-1.5em;

	width:					0;
	height:					0;


	border-top:				1.5em solid transparent;
	border-bottom:			1.5em solid transparent;		

	transition:				border-width 200ms;
}

.ballot-box .ballot-paper .participant:before {
	right:					100%;
	border-right:			0 solid #647D8C;
}

.ballot-box .ballot-paper .participant.result:before {
	border-right:			0 solid rgba(80, 170, 60, 1);
}

.ballot-box .ballot-paper.selected .participant:before {
	border-right-width:		1.05em;
}

.ballot-box .ballot-paper .participant:after {
	right:					0;
	border-right:			0 solid #aaa;
}

.ballot-box .ballot-paper.selected .participant:after {
	border-right-width:		1.05em;
}

.ballot-box .ballot-paper.selected {
	margin-left:			-1em;
}


.ballot-box .ballot-paper preference-ranking {
	vertical-align:			top;
	white-space: 			nowrap;
}


.ballot-box .edit-paper {
	min-width:				30em;
	left:					0;
	top:					0;
	bottom:					0;

	padding:				2em 4em;

	vertical-align:			top;

	background-color:		#444;
	background-image:		url('images/stripes.png');
	background-size:		4px 4px;
}




/**prefernce ranking directives**/


preference-ranking {
	display: 				inline-block;
	background: 			transparent;
	padding: 				0;
	margin:					0;
	vertical-align: 		top;
	overflow:				visible;

	counter-reset:			rank;
}

preference-ranking.compact {
	font-size:				0.75em;
}


preference-ranking preference-rank {
	position:				relative;

	min-width:				2em;
	margin:					0;
	padding:				0;
	padding-left:			3em;
	font-size:				1em;

	vertical-align: 		middle;
	text-align:				center;
	background:				#444;

	opacity:				1;
}

preference-ranking.vertical preference-rank {
	display:				block;
	min-height:				2.5em;
	white-space:			normal;
}


preference-ranking.vertical.compact preference-rank {
	display:					inline-block;
}


preference-ranking.horizontal preference-rank {
	display:				inline-block;
	line-height:			4.2em;
	height:					4.2em;
	white-space: 			nowrap;
}


preference-rank > summary {
	text-align:				left;
	font-size:				1em !important;
}

preference-rank > summary:before{
	content:				'';
}

preference-rank.nonempty > summary:before{
	counter-increment:		rank;
	content:				counter(rank);
}


preference-ranking preference-rank.empty {
	opacity:				0;
	
	transition-duration:	1000ms;
}

preference-ranking preference-rank.empty.depleted{
	transition-duration:	0ms !important;
}

preference-ranking.dragging preference-rank.empty {
	opacity:				0;
}

preference-ranking.vertical.dragging preference-rank.empty.active {
	margin:					2.5em 0;	
}

preference-ranking.horizontal.dragging preference-rank.empty.active {
	margin:					0 2.5em;
}


preference-ranking.dragging preference-rank.empty.active {
	opacity:				1;
}

preference-ranking preference-rank.ng-leave {
	display:				none;
} 

preference-ranking preference-rank.ng-enter {
	display:				none;
} 


preference-ranking.dragging preference-rank:after {
	content:				'';

	position:				absolute;
	right:					-8em;
	top:					50%;

	border-top:				0.8em solid transparent;
	border-bottom:			0.8em solid transparent;
	border-right:			0.8em solid #FFF;

	margin-top:				-0.8em;

	opacity:				0;

}

preference-ranking.dragging preference-rank.active:after {
	opacity:				1;

	right:					-0.5em;

	transition:				200ms ease-in;
}





preference-option {
	display:				inline-block;
	position:				relative;

	line-height:			3.6em;
	width:					8em;
	margin:					0.5em;

	text-align:				center;

	overflow:				hidden;

	cursor:					grab;
	cursor:					-moz-grab;
	cursor:					-webkit-grab;
}


preference-ranking.no-drag preference-option {
	cursor:					auto !important;
}


preference-option details {
	overflow:				hidden;
}

preference-option summary {
	font-size:				1.6em;
}

preference-option .title {
	display:				inline-block;
	padding:				0.1em 0.4em;
	line-height:			1.1em;
	vertical-align:			middle;
	white-space: 			normal;
}



	/*compact view*/

	.compact preference-option {
		width:					0!important;
		border-radius: 			0.3em;
		line-height:			3.2em;
		height:					3.2em;
	}

	.compact preference-option details {
		display:				none;
	}




preference-option.dragged {
	position: 				absolute;
	box-shadow: 			0 0 0.5rem rgba(0,0,0,0.6);
	z-index: 				10;

	overflow: 				hidden;

	cursor:					grabbing;
	cursor:					-moz-grabbing;
	cursor:					-webkit-grabbing;
}


preference-option.dummy {
	opacity : 				0;
}


/* transition mechanics:*/






/*


/*vertical animation 



preference-ranking.vertical .finished preference-option[value=""],
preference-ranking.vertical preference-rank.ng-leave preference-option {
	-webkit-animation:		enter_option_vertical 200ms reverse ease-in-out;
	animation:				enter_option_vertical 200ms reverse ease-in-out;
}



preference-ranking.vertical .started preference-option[value=""],
preference-ranking.vertical preference-rank.ng-enter preference-option {
	-webkit-animation:		enter_option_vertical 200ms ease-in-out;
	animation:				enter_option_vertical 200ms ease-in-out;
}




 @keyframes enter_option_vertical {
	from {
		line-height:			0em;
		height:					0em;
		margin-top:				-0.25em;		
		margin-bottom:			-0.25em;
	}
	to {
		line-height:			3.6em;	
		height:					3.6em;	
		margin-top:				0.5em;		
		margin-bottom:			0.5em;
	}
}


@-webkit-keyframes enter_option_vertical {
	from {
		line-height:			0em;
		height:					0em;
		margin-top:				-0.25em;		
		margin-bottom:			-0.25em;
	}
	to {
		line-height:			3.6em;	
		height:					3.6em;	
		margin-top:				0.5em;		
		margin-bottom:			0.5em;
	}
}



/* horizontal animation 

preference-ranking.horizontal preference-option.ng-leave,
preference-ranking.horizontal preference-rank.ng-leave preference-option {
	-webkit-animation:		enter_option_horizontal 500ms reverse ease-in-out;
	animation:				enter_option_horizontal 500ms reverse ease-in-out;
}



preference-ranking.horizontal preference-option.ng-enter,
preference-ranking.horizontal preference-rank.ng-enter preference-option {
	-webkit-animation:		enter_option_horizontal 500ms ease-in-out;
	animation:				enter_option_horizontal 500ms ease-in-out;
}


@keyframes enter_option_horizontal {
	from {		
		padding-right:			0em;
		padding-left:			0em;
		margin-left:			0em;		
		margin-right:			0em;
	}
	to {	
	}
}


@-webkit-keyframes enter_option_horizontal {
	from {		
		padding-right:			0em;
		padding-left:			0em;
		margin-left:			0em;		
		margin-right:			0em;
	}
	to {		
	}
}



preference-ranking.horizontal preference-rank.ng-leave{
	-webkit-animation:		enter_rank_horizontal 500ms reverse linear;
	animation:				enter_rank_horizontal 500ms reverse linear;
}	

preference-ranking.horizontal preference-rank.ng-enter{
	-webkit-animation:		enter_rank_horizontal 500ms linear;
	animation:				enter_rank_horizontal 500ms linear;
}	


 @keyframes enter_rank_horizontal {
	from {		
		width:					0em;		
		min-width:				0em;
		border-left-width:		0em;
		border-right-width:		0em;
		margin-left:			0em;
		margin-right:			0em;
		padding-right:			0em;
		padding-left:			0em;
	}
	to {	
	}
}


@-webkit-keyframes enter_rank_horizontal {
	from {		
		width:					0em;
		min-width:				0em;		
		border-left-width:		0em;
		border-right-width:		0em;
		margin-left:			0em;
		margin-right:			0em;
		padding-right:			0em;
		padding-left:			0em;
	}
	to {	
	}
}




*/






/* ranking-source */

.ranking-source {
	display: 					block;
	position:					relative;

	min-height:					1em;
	margin:						0;
	padding:					1em;

	border:						none;
	font-size:					1em;
	font-family: 				monospace;
	text-align:					left;
	color:						rgba(245, 245, 240, 1);
}

.ranking-source .tab {
	margin-left:				3em;
}