/* COLORS:

	blue:		rgba(100,125,140,1);
	light-blue:	#def;
	light-gray:	#ccc;
	white:		rgba(245, 245, 240, 1);
	dark-gray:	#444;
	shadow:		0 0 0.2em rgba(0,0,0, 0.2);
	floating:	0 0 0.5rem rgba(0,0,0,0.6);
*/


*{
	margin:					0;
	padding:				0;
	font-family: 			sans-serif;	
}

html {
	min-height:				100.1%;
}

body {
	font-size:				1em;	
	min-height:				100.1%;
	background-color:		#444;
}


body > header {
	position:				absolute;

	height:					4em;
	width:					100%;
	text-align:			center;

	background-color:		rgba(245, 245, 240, 1);
	box-shadow:				0 0 0.2rem rgba(0,0,0, 0.2);
}

body > section {
	background-color:		#def;
	padding:				6em 10%;
}

body > footer {
	min-height: 10em;
	background-color:		#444;
}

body > header h1 {
	display:				inline-block;

	
	margin:					0;
	margin-right:			2em;
	font-size:				2.5em;

	color:					rgba(100,125,140,1);
	text-shadow:			0 -0.02em rgba(0,0,0,0.7), 0 0.02em rgba(255,255,255,0.7);
}


.ui-panel {
	display:				inline-block;	
	margin:					auto;
	background-color:		#444;	/* rgba(245, 245, 240, 1);*/
	color:					rgba(245, 245, 240, 1);
	margin:					0.5em;	
}

	.ui-panel.ui-borders {
		border:					0.2em solid rgba(245, 245, 240, 1);
		border-radius: 			0.5em;	
		box-shadow: 			0 0 0.2rem rgba(0,0,0, 0.2);		
	}

	.ui-panel > summary {
		display:				block;
		font-size:				1.6em;		
		padding: 				0.5em;		
		font-weight:			bold;
		color:					#666;
		background-color:		rgba(245, 245, 240, 1);		
	}

	.ui-panel > .right {

	}




details {
	background-color:		rgba(100,125,140,1);
	color:					#ccc;	
}











/* Ballot Box */

.ballot-box {
	display:				block;
	margin: 				auto;
	padding:				0em;
	white-space: 			nowrap;
}

.ballot-box .ballot-paper {
	display:				inline-block;
	position: 				relative;

	margin:					0;
	padding: 				0.5em;	
	text-align: 			center;
	white-space: 			normal;	
	vertical-align: 		top;
	transition-property:	font-size;
	transition-duration:	400ms;
}


.ballot-box.selected .ballot-paper {
	font-size: 				1em;
	opacity:				1;
	vertical-align: 		top;
}

.ballot-box.selected .ballot-paper.selected {
	font-size:				1em;
	opacity: 				1;
}

.ballot-box .ballot-paper .participant {
	display: 				block;
}

.ballot-box .ballot-paper .participant input,
.ballot-box .ballot-paper .participant span {
	display:				inline-block;
	width: 					100%;
	font-size:				1em;	
	border:					none;
	padding	:				0;
	margin:					0;
	text-align: 			center;
}

.ballot-box .ballot-paper .controls {
	display: 				block;
}

.ballot-box .ballot-paper preference-ranking {
	font-size:				0.8em;
}

.ballot-box .ballot-paper.compact preference-ranking {
	font-size:				0.65em;
}












/**prefernce ranking directives**/


preference-ranking {
	display: 				inline-block;
	background: 			transparent;
	padding: 				0;
	margin:					0;	
	overflow:				visible;	

	counter-reset:			rank;
}








preference-rank,
preference-rank.ng-enter.ng-enter-active {	
	display:				block;
	position:				relative;

	min-height:				1.8em;
	margin:					0;
	padding:				0;	
	padding-left:			3em;
	vertical-align: 		middle;
	text-align:				center;			
	font-size:				1em;

	background:				#444;
}

preference-rank:before{
	content:				'';

	display:				block;
	position:				absolute;
	top:					0;
	left:					0;
	bottom:					0;
	width:					2em;

	color:					#444;
	background-color: 		rgba(245, 245, 240, 1);

	overflow: 				hidden;
}

preference-rank.nonempty:before{
	counter-increment:		rank;
	content:				counter(rank);
}

preference-rank.ng-enter,
preference-rank.ng-leave.ng-leave-active {
	font-size: 				0;
	height:					0;
	padding-top:			0;
	padding-bottom:			0;
	margin-top:				0;
	margin-bottom:			0;
}

preference-rank.empty {		
	opacity: 				0;
}

preference-rank.depleted {
	margin:					2em 0;
}		










preference-option,
preference-option.ng-enter.ng-enter-active,
preference-option.ng-leave {
	display:				block;
	position:				relative;

	font-size:				1em;
	height: 				4em;
	width:					9.05em;			/* .ui-info:  width + margin */
	margin-left:			auto;
	margin-right:			0.5em;
	margin-top:				0.5em;
	margin-bottom:			0.5em;
	padding: 				0;	
	border-radius:			0.3rem;		
	
	opacity:				1;

	white-space:			nowrap;

	cursor:					grab;
	cursor:					-moz-grab;
	cursor:					-webkit-grab;	
}



preference-option .details {
	display:				none;
}

preference-option .ui-info {
	display:				block;	

	margin-right:			2.56em;
	height:					4em;
	width:					6.5em;			
	line-height:			4em;
	white-space:			normal;

	overflow:				hidden;
}

preference-option .ui-info .title {
	display:				inline-block;
	line-height:			1.2em;
	padding:				0.2em;
	width:					3.6em;	
}

preference-option .ui-panel {
	display:				block;
	position:				absolute;

	top:					0;
	right:					0;
	height:					100%;
	width:					1.6em;
	font-weight:			bold;
	font-size:				1.6em;
	line-height:			2.5em;
	text-align:				center;

	overflow:				hidden;

}

	/*compact view*/

	.compact preference-option,
	.compact preference-option.ng-enter.ng-enter-active,
	.compact preference-option.ng-leave {
		position:				relative;
		display:				block;

		width: 					4em;
		height: 				4em;
		padding:				0;
		background:				transparent;
	}

	.compact preference-option  .ui-info{
		width: 					0em;		
		margin-left:			0;
		margin-right:			4em;
		opacity:				0;
		left:					200%;
	}

	.compact preference-option:hover .ui-info {
		display: 				block;
		position:				absolute;

		left:					100%;
		margin-left:			1em;
		width:					auto;
		border-radius:			0.3em;
		opacity:				1;

		box-shadow:				0 0 0.5rem rgba(0,0,0,0.6);				

		overflow:				visible;
		
	}

	.compact preference-option:hover .ui-info .title {
		width:					auto;

		white-space: 			nowrap;	
		padding-left:			1em;
		padding-right:			1em;
	}

	/*
	.compact preference-option:hover .ui-info:before {
		content:				'';

		display:				block;
		position: 				absolute;	
		right: 					100%;
		top: 					50%;
		width:					0em; 
		height:					0em; 
		margin-top:				-1em;
		margin-right: 			0;

		border-top:				1em solid transparent;
		border-bottom:			1em solid transparent;	
		border-right:			1em solid rgba(100,125,140,1);
		opacity:				1;
	}
	*/

	.compact preference-option .ui-panel {
		display:				block;

		width:					100%;
		border-radius: 			0.3em 0 0 0.3em;
		
	}



preference-option.dragged {
	position: 				absolute;
	box-shadow: 			0 0 0.5rem rgba(0,0,0,0.6);
	z-index: 				10;

	overflow: 				hidden;

	cursor:					grabbing;
	cursor:					-moz-grabbing;
	cursor:					-webkit-grabbing;
}

preference-option[value=""] {	
	background:				transparent!important;
	overflow:				visible !important;
}

preference-option[value=""] * {	
	display:				none !important;	
}




preference-option.ng-enter, 
preference-option.ng-leave.ng-leave-active,
preference-rank.ng-leave.ng-leave-active preference-option {
	height:					0;
	padding-top:			0;
	padding-bottom:			0;
	margin-top:				0;
	margin-bottom:			0;
	line-height:			0;
	opacity: 				0;	
}


preference-option[value=""]:after,
preference-option[value=""].ng-enter.ng-enter-active:after,
preference-option[value=""].ng-move.ng-move-active:after {
	content:				'';

	display:				block;
	position: 				absolute;	
	right: 					0em;
	top: 					50%;
	width:					0em; 
	height:					0em; 
	margin-top:				-1em;
	margin-right: 			-1em;

	border-top:				1em solid transparent;
	border-bottom:			1em solid transparent;	
	border-right:			1em solid rgba(100,125,140,1);
	opacity:				1;
}


preference-option[value=""].ng-enter:after,
preference-option[value=""].ng-move:after {
	right:					-8em;
	opacity:				0;
}

preference-option[value=""] ~ preference-option[value=""] {
	display: none;
}

/* looks */





/* transition mechanics:*/

preference-rank,
preference-option,
preference-option .ui-panel,
preference-option .ui-info {	
	transition-duration:	600ms;
}

preference-rank.ng-enter,
preference-option.ng-enter,
preference-option[value=""].ng-enter:after,
preference-option[value=""].ng-move:after{
	transition-duration:	400ms !important;
}


preference-rank.ng-leave,
preference-option.ng-leave,
preference-rank.ng-leave preference-option {
	transition-duration:	800ms !important;	
}

preference-option.dragged{
	transition-duration:	0ms;
}